{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/theme.css') }}"/>
{% endblock styles %}
{% block content %}
<div class="pdf">
    <div class="content">
        <div class="common-container">
            <div class="main" style="">
                <iframe id="pdfjs" src="/static/assets/pdfweb/viewer.html?file={{ pdf_path }}" class="pdfjs"></iframe>
            </div>
            <div class="left">
                <div class="sub-menus">
                    <h2 style="background: #3362A8;color:white">参考书籍</h2>
                    <ul>
                        {% for book in books %}
                        <li class="{{ 'current' if book.id == current else '' }}" style="background: {{ '#3362A8' if book.id == current else 'initial' }}">
                            <a href="/books?book={{ book.id }}"
                               style="color: {{ 'white' if book.id == current else 'initial'}}">{{ book.id }}-{{ book.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<!--<script src="/static/assets/js/pdf.js"></script>-->
<!--<script src="/static/assets/js/pdf.worker.js"></script>-->
{% endblock scripts %}