{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block styles2 %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/kanxue.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap-bbs.css') }}"/>
{% endblock styles2 %}
{% block content %}
<ol class="breadcrumb mb-3">

</ol>
<div class="row mx-0">
    <div class="col-12 col-md-9 px-0">
        <div class="left_content">
            <div class="card message_card">
                <div class="mb-0">
                    <div class="card-body">
                        <div class="d-none d-lg-block">
                            <dl class="row">
                                <dd class="vtop">
                                    <dl class="row small" style="height: 34px; line-height: 34px;">
                                        <dt style="padding: 0px;">
                                            <div class="break-all m-0">
                                                <span style="font-size: 1.4rem;">{{ title }}</span>
                                            </div>
                                        </dt>
                                    </dl>
                                    <dl class="row small mt-1">
                                        <dt style="padding: 0px;">
                                            <div>
												<span class="date text-grey ml-1"><i class="icon-clock-o"
                                                                                     aria-hidden="true"></i>
													{{ time }}</span>
                                            </div>
                                        </dt>
                                        <dd class="text-right">
                                        </dd>
                                    </dl>
                                </dd>
                            </dl>
                        </div>
                        <hr aria-hidden="true">
                        <div class="message" isfirst="1">
                            {{ content|safe }}
                        </div>
                        {% if download_url %}
                        <a href="{{ download_url }}" style="font-size: 20px;color: #0EDC8D" download>下载资源文件</a>
                        {% endif %}
                        <div style="height: 33px; line-height: 33px; border-top: 1px solid #ddd;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 pr-0 hidden-sm hidden-md" style="padding-left: 15px;">
        <div class="right_content positionSticky position-sticky" style="top:0;">
            <div class="rightbox_card_hidden" style="">
                <div class="card mb-3 position-relative ">
                    <div class="py-4 px-4">
                        <div class="row mx-0">
                            <div class="d-inline-block position-relative avatar_box" data-uid="979679"
                                 aria-hidden="true" tabindex="-1">
                                <img src="{{ image }}"
                                     style="width: 5rem; height:  5rem; border-radius: 5rem;">
                                <span style="font-size: 16px;margin-left: 2rem" class="font-weight-bold">
										<span class="username_box" data-uid="979679">{{ author }}</span>
									</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 pb-3" style="color: #bbbbbb;">
                <div class="py-2 px-3 mb-2" style="color: #333333;border-bottom: 1px solid #eeeeee;">
                    他的文章
                </div>
                <div class="px-3">
                    {% for link in links %}
                    <div class="mb-2">
                        <a href="/resources/{{ link.id }}"
                           style="color: #7d7d7d; font-size: 13px;">{{ link. title }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}